* {
  margin: 0;
  padding: 0;
}

body, html {
  background: $white;
  margin: 0;
  padding: 0;
}

.global-margin {
  background-color: $white;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  // margin: 80px auto 0px;
}

.inputWrapper {
  background: inherit;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  min-height: 60px;
  position: relative;
  width: 100%;

  .errorMsg {
      color: red;
      font-size: 16px;
      margin-bottom: 5px;
      margin-top: 5px;
  }

  .inputField {
      background: inherit;
      border: 1px solid $input-border;
      border-radius: 4px;
      color: #8f07f7;
      font-size: 18px;
      height: 40px;
      outline: none;
      padding-left: 40px;

      &:disabled {
          background-color: $disabled-input-background;
          color: #a39b9b;
      }

      &:focus {
          border: 2px solid #8f07f7;
      }

      &::placeholder {
          color: $input-border;
          font-size: 18px;
      }
  }

  .inputLabel {
      border-radius: 2px;
      color: rgb(156, 155, 155);
      font-size: 20px;
      left: 10px;
      padding: 2px 4px;
      position: absolute;
      top: 12%;
      transition: all 0.3s;
      z-index: 11;
  }

  .passwordToggle {
      color: rgb(156, 155, 155);
      cursor: pointer;
      font-size: 20px;
      position: absolute;
      right: 10px;
      top: 18%;
      z-index: 11;
  }
}

label {
  color: black;
  display: block;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  accent-color: #8f07f7;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

/* Navbar.css */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
  }
}

.modalContainer {
  animation: fadeIn 0.5s ease-in;
}

.navbarContainer {
  animation: slideIn 0.5s ease-out;
}