.dsaSheetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    padding: 20px 200px;

    @include breakpoint('medium') {
        padding: 20px 100px;
    };

    @include breakpoint('small-only') {
        padding: 20px 40px;
    };

    .dsaTopicContainer {
        margin-top: 20px;
        border: 1px solid #e6e8ed;
        border-top: 4px solid #7b62d9;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 20px;
        padding: 20px 30px;
        width: 100%;

        .dsaDropdownOption {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
        }

        .topicName {
            font-size: 22px;
        }

        .dsaTopicRightWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10px;

            & > div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        .arrowIcon {
            transition: transform 0.3s ease;
        }
        
        .arrowIcon.rotate {
            transform: rotate(180deg);
        }
        
        .dropdownContent {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: max-height 0.5s ease, opacity 0.5s ease;
        }
        
        .dropdownContent.open {
            max-height: 500px; /* Adjust this value based on your content */
            opacity: 1;
        }
    }
}