.problemsContainer {
    padding: 20px 10px;
    overflow-x: auto;

    .problemsTableContainer {
        width: 100%;
        border-collapse: collapse; 
        overflow: hidden;
     th, td {
            border: 1px solid #babbbe;
            padding: 8px;
            text-align: center;
            text-wrap: nowrap;
          }

        .difficulty-easy {
            padding: 8px 4px;
            border-radius: 15px;
            background-color: #81d581e2;
        }
        .difficulty-medium {
            padding: 8px 4px;
            border-radius: 15px;
            background-color: #ebbe0bed;
        }
        .difficulty-hard {
            padding: 8px 4px;
            border-radius: 15px;
            background-color: #f22828d3;
        }
    .youtubeCell {
        color: red;
    }   
    .codeCell {
        color: $black;
    }  
    .articleCell {
        color: $black;
    }
}
};