.problemsContainer {
    overflow-x: auto;
    padding: 20px 10px;

    .problemsTableContainer {
        border-collapse: collapse;
        overflow: hidden;
        width: 100%;

        th, td {
            border: 1px solid #babbbe;
            padding: 8px;
            text-align: center;
            text-wrap: nowrap;
        }

        .articleCell {
            color: $black;
        }

        .codeCell {
            color: $black;
        }

        .difficulty-easy {
            background-color: #81d581e2;
            border-radius: 15px;
            padding: 8px 4px;
        }

        .difficulty-hard {
            background-color: #f22828d3;
            border-radius: 15px;
            padding: 8px 4px;
        }

        .difficulty-medium {
            background-color: #ebbe0bed;
            border-radius: 15px;
            padding: 8px 4px;
        }

        .youtubeCell {
            color: red;
        }
    }
}