.problemsContainer {
    padding: 20px 10px;
    overflow-x: auto; /* Enable horizontal scrolling */

    // table {
    //     border-radius: 5px;
    // }
    .problemsTableContainer {
        width: 100%;
        border-collapse: collapse; /* Ensure border-collapse is set to separate */
        overflow: hidden;
     th, td {
            border: 1px solid #babbbe;
            padding: 8px;
            text-align: center;
            text-wrap: nowrap;
          }
    //  .difWrapper {
    //     text-align: center;
    //     margin: auto;
    //     &>p {
    //         padding: 20px;
    //         border-radius: 4px;
    //         width: fit-content;
    //     }
        .difficulty-easy {
            padding: 8px 4px;
            border-radius: 15px;
            background-color: #81d581e2;
        }
        .difficulty-medium {
            padding: 8px 4px;
            border-radius: 15px;
            background-color: #ebbe0bed;
        }
        .difficulty-hard {
            padding: 8px 4px;
            border-radius: 15px;
            background-color: #f22828d3;
        }
    //  }     

}
};