.signupContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .signupContainer form div {
    margin-bottom: 15px;
  }
  
  .signupContainer label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signupContainer input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .signupContainer button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signupContainer button:hover {
    background-color: #0056b3;
  }




  //login.scss
  .loginContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .loginContainer form div {
    margin-bottom: 15px;
  }
  
  .loginContainer label {
    display: block;
    margin-bottom: 5px;
  }
  
  .loginContainer input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .loginContainer button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginContainer button:hover {
    background-color: #0056b3;
  }