//--------------------------------------breakpoints for responsiveness------------------------>

$bp-small: 320px !default;
$bp-small-medium: 650px !default;
$bp-medium: 768px !default;
$bp-medium-large: 950px !default;
$bp-large: 1280px !default;
$bp-max-small-only: 767.98px !default;
$bp-small-small: 450px !default;